@use '/styles/variables' as variable;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Martel';
}

.links{
    display: flex;
    
    a {
        color: variable.$fudoGray;
        text-decoration: none;
    }

    & > * {
        margin-right: 2.5rem;
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
    }
    
    /** add border bottom to 1st list */
    & > *:first-child {
        border-bottom: 1px solid variable.$fudoYellow;
    }
}

.cartSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: variable.$fudoGray;
    font-size: 1.2rem;
    &:hover {
        text-decoration: none;
    }
}

.cartTotal {
    /** put the total in the cart in the corner of the cart icons*/
    display: flex;
    margin-left: -10px;
    margin-top: -2px;
    width: 18px;
    height: 18px;
    position: relative;
    background: #D80027;
    border-radius: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: variable.$fudoYellow;
    padding: 10px 32px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Martel';
}
