$fudoYellow: #FDC913;
$fudoCream: #FAF7F2;
$fudoGray: #666666;
$fudoBlack: #292929;

:export {
    fudoYellow: $fudoYellow;
    fudoCream: $fudoCream; 
    fudoGray: $fudoGray;
    fudoBlack: $fudoBlack;
}